@font-face {
    font-family: 'Forum';
    src: url('./fonts/Forum/Forum-Regular.otf');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    font-size: 17px;
}

.topBar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.author {
    display: flex;
    color: #dddddd;
    font-weight: bold;
}

html {
    font-family: "Forum";
}

#hero {
    background: url('./images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;
}

#band {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-bottom: 5%;
}

#content {
    text-align: center;
    padding: 10%;
    color: #dddddd;
}

#content h3 {
    color: #dddddd;
}

h1, h2 {
    color:#dddddd;
    font-size: 50px;
}

h3 {
    font-size: 30px;
    color: black;
}

.mainLogo {
    border-radius: 25px;
}

.oeuvresTitle {
    padding: 40px;
    text-align: center;
    background-color: #111111;
    font-size: 40px;
    color: #dddddd;
}

.tombe {
    background-color: #f77f00;
    padding-left: 20px;
}

.bocklin {
    background-color: #d62828;
    padding-right: 20px;
}

.tombe, .bocklin {
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
}

.content {
    display: flex;
    vertical-align: baseline;
}

.tombeImg, .bocklinImg {
    height: 500px;
}

.oeuvreInfos {
    padding: 20px;
}

.moreInfoBtn {
    color: #dddddd;
    border-color: #111111;
    background-color: #111111;
    border-radius: 15px;
    border-style: solid;
    padding: 5px;
}

.moreInfoBtn:hover {
    color: #111111;
    border-color: #111111;
    background-color: rgba(0, 0, 0, 0);
}

.analyseSection {
    background: url("https://upload.wikimedia.org/wikipedia/commons/3/34/Arnold_B%C3%B6cklin_-_Die_Toteninsel_V_%28Leipzig%2C_Museum_der_bildenden_K%C3%BCnste%29.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;
}

.analyse {
    background-color: #111111;
    text-align: center;
    padding: 30px;
    font-size: 40px;
    color: white;
}

.analyse h3 {
    color: white;
}

.analyse a, .accueilBtn {
    color: #111111;
    font-size: 30px;
    border-color: #dddddd;
    background-color: #dddddd;
    border-radius: 15px;
    border-style: solid;
    padding: 5px;
}

.analyse a:hover, .accueilBtn:hover {
    color: #dddddd;
    border-color: #dddddd;
    background-color: #111111;
}

.accueilBtn {
    margin-left: 20px;
}

.analyseTitle {
    text-align: center;
    padding: 10px;
}

.analyseContent {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #dddddd;
    display: flex;
    align-items: center;
}

.analyseBg {
    margin-bottom: 18%;
}

.analyseContent img {
    height: 500px;
}

.analyseTxt {
    padding: 20px;
    font-size: 25px;
    text-indent: 50px;
}

@media screen and (max-width: 1300px) {
    .tombeImg, .bocklinImg {
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .tombe, .bocklin {
        align-items: center;
    }
}